fastapi
uvicorn[standard]
sqlalchemy>=2.0
SQLAlchemy[asyncio]>=2.0
asyncpg
psycopg2-binary>=2.9 
asyncpg
alembic
pydantic-settings
python-dotenv
passlib[argon2]
python-jose[cryptography]
pydantic[email]
resend
minio
PyMuPDF
tqdm
jiter
distro
openai
python-multipart
faster-whisper
ffmpeg-python
soundfile